<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- M2: SystemUIService is the real process entry point; Dagger graph wiring is M4. -->
    <application
        android:name=".SystemUIApplication"
        android:allowBackup="false">

        <service
            android:name=".SystemUIService"
            android:exported="false" />
    </application>
</manifest>
